.contactCard {
  width: 350px;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 6px;
  background-color: #f3f3f3;
  padding: 8px;
}

.contactText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contactDeleteBtn {
  border: 1px solid #747474;
  background-color: #f1f1f1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 6px 8px;
}

.contactDeleteBtn:hover,
.contactDeleteBtn:focus-visible,
.contactDeleteBtn:active {
  background-color: #dfdfdf;
}

.contactCard:has(
    .contactDeleteBtn:hover,
    .contactDeleteBtn:focus-visible,
    .contactDeleteBtn:active
  ) {
  border: 1px solid red;
}
