.contactList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contactCard {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex: 1;
}

.contactText {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 10px;
}

.contactEditBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contactDeleteBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation button {
  margin-top: 10px;
}
